* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(34, 148, 230);
  --headline: hsl(210, 11%, 15%, 1);
  --paragraph: hsl(210, 9%, 31%, 1);

  --brand-beige: rgb(255, 255, 255);
  --brand-light: rgb(208, 228, 234);
  --brand-dark: rgb(194, 194, 194);

  font-size: 62.5%;
  /* 1rem = 10px */

  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;
}

.wrapper {
  width: min(37.5rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

.logoum {
  margin-bottom: -0.1rem;
  margin-left: -7.1rem;
}

.logodois {
  margin-top: -15rem;
  margin-left: -26rem;
}

ul {
  list-style: none;
}

section {
  padding-block: 10rem;
}

/*========================navegation==================================*/
nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0%;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: rgba(255, 255, 255, 0.895);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/*================MENU QUE EXPANDE==================================*/
body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);

  width: 100vw;
  height: 200vw;

  padding-top: var(--nav-height);

  transition: transform 300ms;
  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu .button {
  background: white;
  color: var(--primary-color);
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  display: inline-block;

  padding: 16px 32px;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
}
.menu .button:hover {
  background-color: var(--brand-dark);
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded button path {
  stroke: white;
}

/*========================HOME==================================*/

#home {
  padding-top: calc(4.1rem + var(--nav-height));
}
#home::before {
  content: '';
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--brand-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

#home button {
  background: var(--primary-color);

  border: none;
  border-radius: 4rem;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: -4rem;

  margin-right: auto;
  margin-left: auto;
  height: 6.2rem;
  width: 26.3rem;
  margin-bottom: 6rem;
}

#home img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

#home .stats {
  width: 32.7rem;
  padding-block: 4rem;
  margin-inline: auto;

  background-color: var(--brand-beige);
  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

#home .stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 0.4rem;
}

#home .stat p {
  margin: 0;
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 150%;
}

#home h4 {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

#home h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}
#home a {
  text-decoration: none;
}
#home button:hover {
  background-color: rgb(0, 73, 119);
}
/*========================Serviços==================================*/

#services {
  background-color: var(--brand-light);
}
#services .caixa {
  background-color: var(--brand-beige);
  width: 40rem;

  justify-content: center;
  margin-left: -3.7rem;

  border-radius: 3rem;
}

.butserv {
  background: var(--primary-color);

  border: none;
  border-radius: 4rem;

  position: relative;
  top: -1rem;

  height: 6.2rem;
  width: 26.3rem;
  transition: background 200ms;

  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: -5rem;
  margin-right: auto;
  margin-left: auto;
}
.hs img {
  width: 30rem;
  position: relative;
  top: -0.6rem;
}
#services h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: rgb(17, 131, 238);
  position: relative;
  top: -5.8rem;
  letter-spacing: 2px;
}

#services a {
  text-decoration: none;
}

.card {
  padding: 2.8rem;
}
.cards {
  display: flex;
  flex-direction: column;
}

/*========================Sobre==================================*/

#sobre {
  background-color: var(--brand-light);
}

#sobre .caixa {
  width: 40rem;
  background-color: rgba(34, 148, 230, 0.712);
  padding-block: 4rem;

  border-radius: 3rem;

  justify-content: center;

  margin-left: -3.7rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.cardo img {
  width: 21rem;
}

.qms h2 {
  font-size: 2.5rem;
  color: rgb(17, 131, 238);
  line-height: 130%;
  position: relative;
  bottom: 10rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.qms img {
  width: 30rem;
  position: relative;
  bottom: 4.7rem;
}
#sobre .ptext {
  color: var(--primary-color);
  text-transform: none;
  font-size: 2rem;
  text-align: left;
  position: relative;
  top: -12rem;
  margin: 0 auto;
  background: var(--brand-light);
  border-radius: 15px;
  width: 300px;
  height: auto;
  padding: 20px;
}
.ptext:after {
  /*Triangulo*/
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  /*Faz seta "apontar para baixo. Definir o valor como 'top' fará ela "apontar para cima" */
  /*Aqui entra a cor da "aba" do balão */
  border-bottom: 20px solid var(--brand-light);
  top: -20px; /*localização. Experimente alterar para 'bottom'*/
  left: 20%;
}

.cardo1 img {
  position: relative;
  top: -11.8rem;
}
.cardo1 h5 {
  letter-spacing: 2px;
  position: relative;
  top: -11rem;
  text-transform: uppercase;
  color: white;
}
#sobre .perro {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  position: relative;
  top: -10rem;
}
.cardo2 h5 {
  letter-spacing: 2px;
  position: relative;
  top: -3rem;
  text-transform: uppercase;
  color: white;
}
#sobre .perro2 {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  position: relative;
  top: -1.7rem;
}

.cardo2 img {
  position: relative;
  top: -3.8rem;
}

.horario h3 {
  font-size: 2rem;
  color: var(--primary-color);
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
  line-height: 130%;
  margin-bottom: 10rem;
  position: relative;
  top: -33rem;
}
.ender {
  font-size: 2rem;
  color: white;
  line-height: 130%;
  margin-bottom: 10rem;
}

.rdssociais {
  font-size: 2rem;
  color: white;
}
.horario p {
  color: rgb(255, 255, 255);

  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;

  position: relative;
  top: -11rem;
}
#iconesloc h3 {
  font-size: 2rem;
  color: var(--primary-color);
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
  line-height: 130%;
  margin-bottom: 10rem;
}

#sobre .sobresocial {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
#sobre h3 {
  position: relative;
  top: -13rem;
}
#sobre .butagendar {
  text-decoration: none;
  margin-top: 10rem;
  background: white;

  border: none;
  border-radius: 4rem;

  margin-bottom: 6rem;

  height: 6.2rem;
  width: 26.3rem;

  cursor: pointer;

  display: flex;
  justify-content: space-between;

  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: -4rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  right: 3rem;
}

#sobre .butjanga {
  text-decoration: none;
  cursor: pointer;
  margin-top: -9rem;
  margin-left: 7rem;
}

#sobre .butjp {
  text-decoration: none;
  margin-left: 7rem;
  margin-top: -33rem;
}

#sobre a {
  text-decoration: none;
}

#sobre {
  padding-block: 2rem;
  text-decoration: none;
}

#iconesloc svg {
  display: flex;
  margin-bottom: -4rem;
  position: fixed;
  left: 0;
  width: 2rem;
}

#iconesloc p {
  margin-bottom: 2rem;
  position: relative;
  top: -11rem;
  color: rgb(255, 255, 255);

  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
}

#sobre h3 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-decoration: none;
}
#iconesloc {
  color: white;
}

#sobre p {
  color: rgb(237, 227, 227);
}
#sobre #iframe,
#iframe2 {
  display: none;
}

footer {
  color: white;
  background-color: black;
  text-decoration: none;
}

/*========================De==================================*/

#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2rem;

  opacity: 0;
  visibility: hidden;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
}

/*===============RESPONSIVIDADE==================================*/
@media (min-width: 1024px) {
  /*======================GERAL==================================*/
  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }
  #services .caixa {
    margin-left: 2.5rem;
  }
  #sobre .caixa {
    margin-left: 2.5rem;
    width: 100rem;
  }
  #iconesloc svg {
    margin-left: 15rem;
  }

  /*=====================NAVIGATION==================================*/

  /*=========RESET===================*/
  nav#navi .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    font-weight: initial;
  }
  nav#navi .close-menu,
  nav#navi .open-menu,
  nav#navi .social-links,
  nav#navi .logodois {
    display: none;
  }

  nav#navi .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }
  nav#navi .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }
  nav#navi .menu ul li a {
    color: var(--primary-color);
    opacity: 0.7;
    font-weight: bold;
  }
  nav#navi .menu a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;

    border: 1px solid var(--primary-color);
    border-radius: 4rem;

    color: var(--primary-color);

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8;
    text-transform: uppercase;
  }
  nav#navi .menu a:hover.button{
    background-color: var(--primary-color);
    color: white;
  }
  nav#navi .menu li a {
    transition: opacity 0.4s;
  }

  nav#navi .menu li a:active,
  nav#navi .menu li a:hover {
    opacity: 1;
    font-weight: 700;
    
  }

  nav#navi .menu li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);

    position: relative;
    bottom: -2rem;
    left: -0.5rem;

    display: block;

    transition: width 0.2s;
  }

  nav#navi .menu li a:active::after,
  nav#navi .menu li a:hover::after {
    padding-inline: 0.8rem;
    width: 100%;
  }

  nav#navi .scroll .menu a.button:active,
  nav#navi .scroll .menu a.button:hover {
    background-color: var(--primary-color);
    color: white;
    filter: brightness(1.3);
    border-color: white;
  }
  /*====================HOME=================================*/

  #home .stats {
    width: 115rem;
    position: relative;
    left: -4rem;
  }

  #home .wrapper {
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas:
      'A B'
      'C C';
  }

  #home h1 {
    font-size: 5.2rem;
  }
  #home .content p {
    font-size: 1.8rem;
  }

  #home .col-a {
    grid-area: A;
    text-align: left;
    position: relative;
    bottom: -2.5rem;
  }
  #home .col-b {
    grid-area: B;
  }
  #home .stats {
    grid-area: C;
    flex-direction: row;
    gap: 0;
  }
  #home .stats .stat + .stat {
    border-left: 1px solid var(--primary-color);
  }
  #home .stats .stat {
    flex: 1;
  }

  #home button {
    margin: 0;
  }

  #home img {
    width: 42rem;
  }
  /*====================SERVICES=================================*/

  #services .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    position: relative;
    top: -10rem;
  }

  #services .card {
    width: 30%;
  }

  #services button {
    position: relative;
    top: -10rem;
  }

  #services .caixa {
    width: 100%;
    position: relative;
    left: -4rem;
  }
  #services .card {
    margin-top: 5rem;
  }
  /*====================SOBRE=================================*/
  #sobre .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B C D E';
  }
  #sobre {
    overflow-y: hidden;
  }
  #sobre .col-a {
    grid-area: A;
    position: relative;
    left: rem;
    top: 2rem;
  }
  #sobre .col-b {
    grid-area: B;
    position: relative;
    top: -9rem;
    right: -1rem;
  }
  #sobre .col-c {
    grid-area: C;
    position: relative;
    top: -21rem;
    left: 26rem;
    text-decoration: none;
  }

  #sobre .col-d {
    grid-area: D;
    position: relative;
    top: -30rem;
    left: 30rem;
    margin: 0;
  }

  #sobre .col-e {
    grid-area: E;
    position: relative;
    top: -10rem;
    left: 1rem;
  }
  .qms img {
    position: relative;
    top: 15.6rem;
  }
  .qms h2 {
    position: relative;
    top: 10.4rem;
  }

  #sobre .rdssociais {
    height: 0;
    position: relative;
    top: -15rem;
  }

  #sobre .caixa {
    width: 174%;
    position: relative;
    left: -4rem;
    height: 200rem;
  }

  #sobre .butagendar {
    margin: 0;
    right: 2rem;
    top: 2rem;
  }
  #sobre .butjp a {
    position: relative;
    right: 10rem;
  }
  #sobre .butjanga a {
    position: relative;
    left: 10rem;
  }

  #sobre a {
    margin: 0;
    width: 5rem;
  }

  #sobre .agora {
    display: flex;
  }

  #sobre .ptext {
    width: 60rem;
    position: relative;
    top: 10rem;
  }
  .cardo1 img {
    position: relative;
    top: -4rem;
    right: 25%;
    border-radius:  5px;
  }
  .cardo1 h5 {
    position: relative;
    top: -3.5rem;

    right: 25%;
  }
  #sobre .perro {
    position: relative;
    top: -3rem;
    right: 25%;
    display: inline-block;
  }
  .cardo2 img {
    position: relative;
    top: -39rem;
    left: 33%;
    border-radius: 5px;
  }
  .cardo2 h5 {
    position: relative;
    top: -27.3rem;
    display: inline-block;
    left: 13%;
  }
  #sobre .perro2 {
    position: relative;
    top: -24.7rem;
    left: -2%;
    display: inline-block
  }
  #sobre .horario h3 {
    font-size: 2rem;
    color: var(--primary-color);
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    line-height: 130%;
    margin-bottom: 10rem;
    position: relative;
    top: -40rem;
  }
  .horario p {
    position: relative;
    top: -46rem;
  }
  #sobre #iconesloc h3 {
    position: relative;
    top: -37rem;
    left: -1rem;
  }
  #iconesloc p {
    position: relative;
    top: -38rem;
  }
  #sobre #iframe {
    position: relative;
    right: 2rem;
    top: -30rem;
    display: inline-block;
  }
  #sobre #iframe2 {
    position: relative;
    left: 2rem;
    top: -30rem;
    display: inline-block;
  }
  #sobre .p1 {
    color: var(--primary-color);
    text-transform: none;
    font-size: 2rem;
    text-align: left;
    position: relative;
    top: -27rem;
    background: var(--brand-light);
    border-radius: 15px;
    width: 34.2rem;
    height: auto;
    padding: 20px;
    right: 22%;
    margin: 0;
    display: inline-block;
  }
  #sobre .p2 {
    color: var(--primary-color);
    text-transform: none;
    font-size: 2rem;
    text-align: left;
    position: relative;
    top: -38.9rem;
    margin: 0;
    background: var(--brand-light);
    border-radius: 15px;
    width: 342px;
    height: auto;
    padding: 20px;
    font-weight: 200;
    left: 22%;
    display: inline-block;
  }

  footer a {
    text-decoration: none;
    color: white;
  }
  
}
